<div class="container-education">
    <app-titel-component [titel]="'education'"></app-titel-component>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6">
                <mat-card class="card">
                    <mat-card-header>
                        <div>
                            <mat-card-title>IES COROMINES</mat-card-title>
                        </div>
                        <div>
                            <p>BENICARLO</p>
                        </div>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-card-title class="card-titel">{{ 'education-p1' | translate }}</mat-card-title>
                        <div class="card-tecnologies">
                            <div>
                                <p></p>
                            </div>
                            <div>
                                <p>2016 / 2018</p>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-12 col-md-6">
                <mat-card class="card">
                    <mat-card-header>
                        <div>
                            <mat-card-title>IES ABASTOS</mat-card-title>
                        </div>
                        <div>
                            <p>VALENCIA</p>
                        </div>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-card-title class="card-titel">{{ 'education-p2' | translate }}</mat-card-title>
                        <div class="card-tecnologies">
                            <div>
                                <p>2018 / 2020</p>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
