<div class="container-fluid container-information">
    <div class="row">
        <div class="col-12 col-md-6 text-center titel">
            <h1>{{'titel-information' | translate}}</h1>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center">
            <img src="../../assets/img/dan_florea_costin.png"
                alt="It dosen't fiend the picture assets/img/dan_florea_costin.png ">
        </div>
    </div>
</div>
<div class="containers-component">
    <app-about id="about"></app-about>
    <app-experience id="experience"></app-experience>
    <app-projects id="projects"></app-projects>
    <app-skills id="skills"></app-skills>
    <app-education id="education"></app-education>
    <app-contact id="contact"></app-contact>
    <app-resume id="resume"></app-resume>
</div>