<div class="container py-5">
    <h1 class="text-center mb-4"><strong>{{ 'titel-privacity-politic' | translate }}</strong></h1>
    <div class="card shadow-sm">
        <div class="card-body">
            <section>
                <h2 class="h5">{{ 'intoduction' | translate }}</h2>
                <p>{{ 'politic-privacity-p-1' | translate }}</p>
            </section>
            
            <section>
                <h2 class="h5 mt-4">{{ 'politic-privacity-titel-1' | translate }}</h2>
                <p>{{ 'politic-privacity-p-2' | translate }}</p>
                <ul>
                    <li>{{ 'politic-privacity-p-3' | translate }}</li>
                    <li>{{ 'politic-privacity-p-4' | translate }}</li>
                    <li>{{ 'politic-privacity-p-5' | translate }}</li>
                    <li>{{ 'politic-privacity-p-6' | translate }}</li>
                </ul>
            </section>
            
            <section>
                <h2 class="h5 mt-4">{{ 'politic-privacity-titel-2' | translate }}</h2>
                <p>{{ 'politic-privacity-p-7' | translate }}</p>
                <ul>
                    <li>{{ 'politic-privacity-p-8' | translate }}</li>
                    <li>{{ 'politic-privacity-p-9' | translate }}</li>
                    <li>{{ 'politic-privacity-p-10' | translate }}</li>
                    <li>{{ 'politic-privacity-p-11' | translate }}</li>
                </ul>
            </section>
            
            <section>
                <h2 class="h5 mt-4">{{ 'politic-privacity-titel-3' | translate }}</h2>
                <p>{{ 'politic-privacity-p-12' | translate }}</p>
            </section>
            
            <section>
                <h2 class="h5 mt-4">{{ 'politic-privacity-titel-4' | translate }}</h2>
                <p>{{ 'politic-privacity-p-13' | translate }}</p>
            </section>
            
            <section>
                <h2 class="h5 mt-4">{{ 'politic-privacity-titel-5' | translate }}</h2>
                <p>{{ 'politic-privacity-p-14' | translate }}</p>
            </section>
            
            <section>
                <h2 class="h5 mt-4">{{ 'politic-privacity-titel-6' | translate }}</h2>
                <p>{{ 'politic-privacity-p-15' | translate }}</p>
            </section>
            
            <!-- 8. Contacto -->
            <section>
                <h2 class="h5 mt-4">{{ 'contacto' | translate }}</h2>
                <p>{{ 'politic-privacity-p-16' | translate }}</p>
            </section>
        </div>
    </div>
</div>
