<!-- <header class="header">
  <div class="when-is-show">
  <div  [class.dark-theme]="isMenuOpen" class="header-content">
    <div class="logo">
      <img src="../../../assets/Logo_black.png" alt="Medio Limón" class="responsive-img">
    </div>
    
    <div class="menu-container">
      <button 
        (click)="toggleMenu()" 
        class="menu-button"
        aria-label="Toggle menu"
      >
      {{ 'menu' | translate }}
      </button>
    </div>
      <nav [class.active]="isMenuOpen" class="dropdown-menu">
        <a href="#" class="menu-item">{{ 'inicio' | translate }}</a>
        <a href="#" class="menu-item">{{ 'historia' | translate }}</a>
        <a href="#" class="menu-item">{{ 'exp_gour' | translate }}</a>
        <a href="#" class="menu-item">{{ 'contacto' | translate }}</a>
      </nav>
    </div>
  </div>
</header> -->