<div class="container-about">
  <app-titel-component [titel]="'about'"></app-titel-component>

  <div class="container-information">

    <div class="container-fluid py-4">
      <p>{{ 'about-p1' | translate }} </p>
      <p>{{ 'about-p2-1' | translate }} {{edad}} {{ 'about-p2-2' | translate }}</p>
      <p>{{ 'about-p3' | translate }}</p>
      <p>{{ 'about-p4' | translate }}</p>
      <p>{{ 'about-p5' | translate }}</p>
      <ul>
        <li><strong>{{ 'about-p6-1' | translate }}</strong>: {{ 'about-p6-2' | translate }} </li>
        <li><strong>{{ 'about-p7-1' | translate }}</strong>: {{ 'about-p7-2' | translate }} </li>
        <li><strong>{{ 'about-p8-1' | translate }}</strong>: {{ 'about-p8-2' | translate }} </li>
        <li><strong>{{ 'about-p9-1' | translate }}</strong>: {{ 'about-p9-2' | translate }} </li>
        <li><strong>{{ 'about-p10-1' | translate }}</strong>: {{ 'about-p10-2' | translate }} </li>

      </ul>
    </div>
  </div>
</div>