<div class="container py-5 text-uppercase">
    <h1 class="text-center mb-4"><strong>{{ 'titel-cookies-politic' | translate }}</strong></h1>
    <div class="card shadow-sm">
        <div class="card-body"> 
            <h2 class="h5">{{ 'intoduction' | translate }}</h2>
            <p>{{ 'cookies-politic-p-1' | translate }}</p>
            
            <h2 class="h5 mt-4">{{ 'cookies-politic-titel-1' | translate }}</h2>
            <p>{{ 'cookies-politic-p-2' | translate }}</p>
            <ul>
                <li><strong>{{ 'cookies-politic-p-3' | translate }}:</strong> {{ 'cookies-politic-p-4' | translate }}</li>
                <li><strong>{{ 'cookies-politic-p-5' | translate }}:</strong> {{ 'cookies-politic-p-6' | translate }}</li>
                <li><strong>{{ 'cookies-politic-p-7' | translate }}:</strong> {{ 'cookies-politic-p-8' | translate }}</li>
            </ul>
            
            <h2 class="h5 mt-4">{{ 'cookies-politic-titel-2' | translate }}</h2>
            <p>{{ 'cookies-politic-p-9' | translate }}</p>
            <ul>
                <li>{{ 'cookies-politic-p-10' | translate }}</li>
                <li>{{ 'cookies-politic-p-11' | translate }}</li>
                <li>{{ 'cookies-politic-p-12' | translate }}</li>
            </ul>
            
            <h2 class="h5 mt-4">{{ 'cookies-politic-titel-3' | translate }}</h2>
            <p>{{ 'cookies-politic-p-13' | translate }}</p>
            <ul>
                <li>{{ 'cookies-politic-p-14' | translate }}</li>
                <li>{{ 'cookies-politic-p-15' | translate }} <a routerLink="/privacity-politic">{{ 'titel-privacity-politic' | translate }}</a>.</li>
            </ul>
            
            <!-- Sección Final -->
            <h2 class="h5 mt-4">{{ 'cookies-politic-titel-4' | translate }}</h2>
            <p>{{ 'cookies-politic-p-16' | translate }}</p>
        </div>
    </div>
</div>
