<div>
    <app-titel-component [titel]="'projects'"></app-titel-component>
<div class=" d-flex justify-content-center align-items-center">
    <div class="card col-9">
        <mat-card>
            <mat-card-header>
              <mat-card-title>TALLERES BLANCHADELL SL</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{ 'projects-p1-1' | translate }}  <a href="https://www.blanchadell.com" target="_blank"> TALLERES BLANCHADELL SL</a>, {{ 'projects-p1-2' | translate }}
              </p>
              <iframe src="https://www.blanchadell.com" frameborder="0" width="100%" height="300"></iframe>

              <p class="description">{{ 'projects-p3' | translate }}</p>
              <h2>{{ 'projects-p4' | translate }}</h2>
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex align-items-center">
                  <mat-icon svgIcon="PHP" class="me-4"></mat-icon>
                  PHP
                </li>
                <li class="list-group-item d-flex align-items-center">
                  <mat-icon svgIcon="TYPESCRIPT" class="me-4"></mat-icon>
                  TYPESCRIPT
                </li>
                <li class="list-group-item d-flex align-items-center">
                  <mat-icon svgIcon="TYPESCRIPT" class="me-4"></mat-icon>
                  JQUERY
                </li>
                <li class="list-group-item d-flex align-items-center">
                  <mat-icon svgIcon="SASS" class="me-4"></mat-icon>
                  SASS
                </li>
                <li class="list-group-item d-flex align-items-center">
                  <mat-icon svgIcon="CSS" class="me-4"></mat-icon>
                  CSS3
                </li>
                <li class="list-group-item d-flex align-items-center">
                  <mat-icon svgIcon="BOOTSTRAP" class="me-4"></mat-icon>
                  BOOTSTRAP
                </li>
                <li class="list-group-item d-flex align-items-center">
                  <mat-icon svgIcon="SQL" class="me-4"></mat-icon>
                  MSQL
                </li>
                <li class="list-group-item">
                  FRONT END LIBRARIES AND APIS
                </li>
              </ul>
              
            </mat-card-content>
          </mat-card>
    </div>
  </div>
</div>