<div class="container my-4">
    <div class="row">
      <!-- Información de Contacto -->
      <div class="col-md-5 mb-4 mt-3">
        <h2>{{ 'titel-contact' | translate }}</h2>
        <div class="card p-3 mt-3">
          <p><strong>{{ 'phone' | translate }}:</strong> +34 646219598</p>
          <p><strong>{{ 'email' | translate }}:</strong> mediolimon.catering&#64; gmail.com</p>
          <p><strong>{{ 'ubication' | translate }}:</strong> Benicarló, 12580, Castellón</p>
          <p><strong>{{ 'schedule' | translate }}:</strong> {{ 'schedule-text' | translate }}</p>
        </div>
      </div>

      <div class ="col-md-1"></div>
  
      <!-- Formulario de Contacto -->
      <div class="col-md-6">
        <h2>{{ 'send-message' | translate }}</h2>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="form-group mt-2">
            <label for="name">{{ 'name' | translate }}</label>
            <input type="text" id="name" class="form-control" formControlName="name" required>
            <div *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.invalid" class="text-danger">
              {{ 'error-name' | translate }}
            </div>
          </div>
  
          <div class="form-group mt-2">
            <label for="phone">{{ 'phone' | translate }}</label>
            <input type="tel" id="phone" class="form-control" formControlName="phone" pattern="^[0-9]+$" required>
            <div *ngIf="contactForm.get('phone')?.touched && contactForm.get('phone')?.invalid" class="text-danger">
              {{ 'error-phone' | translate }}
            </div>
          </div>
  
          <div class="form-group mt-2">
            <label for="affair">{{ 'affair' | translate }}</label>
            <input type="text" id="affair" class="form-control" formControlName="affair" required>
            <div *ngIf="contactForm.get('affair')?.touched && contactForm.get('affair')?.invalid" class="text-danger">
              {{ 'error-affair' | translate }}
            </div>
          </div>
  
          <div class="form-group mt-2">
            <label for="{{ 'description' | translate }}">Descripción</label>
            <textarea id="description" class="form-control" formControlName="description" rows="4" required></textarea>
            <div *ngIf="contactForm.get('description')?.touched && contactForm.get('description')?.invalid" class="text-danger">
              {{ 'error-description' | translate }}
            </div>
          </div>
          <button type="submit" class="btn mt-2">{{ 'submit' | translate }}</button>
        </form>
      </div>
    </div>
  </div>
