<div class="container-fluid p-0">
    <div class="row w-100 m-0 container-titel">
        <div class="col-12 text-center titel">
            <h1>Dan Florea Costin</h1>
            <h3>Full-Stack Developer</h3>
        </div>
        <div class="col-12 text-end select-language">
            <button (click)="chooseLanguages()" mat-stroked-button aria-label="Select Language">
                <mat-icon svgIcon="LANGUAGES" aria-hidden="false"></mat-icon>
            </button>
        </div>
    </div>
    <div class="row w-100 m-0 ">
        <div class="col-12 text-end select-language" *ngIf="showButton">
            <button type="button" (click)="toggleMenu()" mat-stroked-button>
                <mat-icon svgIcon="MENU" aria-hidden="false"></mat-icon>
            </button>
        </div>
        <div class="col-12 p-0" *ngIf="!showButton || showMenu">
            <div class="menu w-100">
                <ng-container *ngFor="let item of navItems">
                    <mat-list class="w-100">
                        <div class="color-box"></div>
                        <mat-list-item class="box list-item d-flex align-items-center " (click)="handleItemClick(item.section)">
                            <mat-icon svgIcon="{{ item.icon }}" aria-hidden="false"></mat-icon>
                            <span class="list-item-text ms-2">{{ item.label | translate }}</span>
                        </mat-list-item>
                    </mat-list>
                </ng-container>
            </div>
        </div>
    </div>

</div>