::ng-deep mat-dialog-container {
    position: fixed !important;
    display: inline-grid !important;
    top: 25% !important;
    height: 10% !important;
    width: 45% !important;
}

mat-dialog-content {
    background-color: #fafafa3e;
}

button:hover {
    background-color: rgb(175, 217, 250);
}