<div class="container-skills">
  <app-titel-component [titel]="'skills'"></app-titel-component>
  <div class="container-fluid card ">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ 'skills-p1' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-card-title class="card-titel">Front End</mat-card-title>
        <div class=" row row-cols-1 row-cols-md-4 text-center">
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="ANGULAR" ></mat-icon>
            <span class="list-item-text ms-2">Angular</span>
          </div>
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="TYPESCRIPT" ></mat-icon>
            <span class="list-item-text ms-2">JavaScript</span>
          </div>
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="TYPESCRIPT" ></mat-icon>
            <span class="list-item-text ms-2">JQuery</span>
          </div>
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="TYPESCRIPT" ></mat-icon>
            <span class="list-item-text ms-2">TypeScript</span>
          </div>
        </div>
      </mat-card-content>
      <mat-card-content>
        <mat-card-title class="card-titel">{{ 'skills-p6' | translate }}</mat-card-title>
        <div class=" row row-cols-1 row-cols-md-4 text-center">
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="CSS" ></mat-icon>
            <span class="list-item-text ms-2">CSS3</span>
          </div>
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="SASS" ></mat-icon>
            <span class="list-item-text ms-2">SASS</span>
          </div>
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="BOOTSTRAP" ></mat-icon>
            <span class="list-item-text ms-2">Bootstrap</span>
          </div>
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="LESS" ></mat-icon>
            <span class="list-item-text ms-2">Less</span>
          </div>
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="ANGULAR" ></mat-icon>
            <span class="list-item-text ms-2">Angular Material</span>
          </div>
        </div>
      </mat-card-content>
      <mat-card-content>
        <mat-card-title class="card-titel">Back End</mat-card-title>
        <div class="row row-cols-1 row-cols-md-4 text-center">
          <div class="col list-item d-flex align-items-center ">
            <mat-icon svgIcon="PHP" ></mat-icon>
            <span class="list-item-text ms-2">PHP</span>
          </div>
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="LARAVEL" ></mat-icon>
            <span class="list-item-text ms-2">Laravel</span>
          </div>
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="JAVA" ></mat-icon>
            <span class="list-item-text ms-2">Java</span>
          </div>
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="JAVA" ></mat-icon>
            <span class="list-item-text ms-2">Spring Boot</span>
          </div>
        </div>
      </mat-card-content>
      <mat-card-content>
        <mat-card-title class="card-titel">{{ 'skills-p2' | translate }}</mat-card-title>
        <div class="row row-cols-1 row-cols-md-4 text-center">
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="SQL" ></mat-icon>
            <span class="list-item-text ms-2">MYSQL</span>
          </div>
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="SQL" ></mat-icon>
            <span class="list-item-text ms-2">PostgreSQL</span>
          </div>
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="SQL" ></mat-icon>
            <span class="list-item-text ms-2">Oracle</span>
          </div>
        </div>
      </mat-card-content>
      <mat-card-content>
        <mat-card-title class="card-titel">{{ 'skills-p3' | translate }}</mat-card-title>
        <div class="row row-cols-1 row-cols-md-4 text-center">
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="GIT" ></mat-icon>
            <span class="list-item-text ms-2">Git</span>
          </div>
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="GITHUB" ></mat-icon>
            <span class="list-item-text ms-2">GitHub</span>
          </div>
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="GITLAB" ></mat-icon>
            <span class="list-item-text ms-2">GitLab</span>
          </div>
        </div>
      </mat-card-content>
      <mat-card-content>
        <mat-card-title class="card-titel">{{ 'skills-p4' | translate }}</mat-card-title>
        <div class="row row-cols-1 row-cols-md-4 text-center">
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="TRELLO" ></mat-icon>
            <span class="list-item-text ms-2">Trello</span>
          </div>
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="JIRA" ></mat-icon>
            <span class="list-item-text ms-2">Jira</span>
          </div>
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="VSCODE" ></mat-icon>
            <span class="list-item-text ms-2">Visual Studio Code</span>
          </div>
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="XAMMP" ></mat-icon>
            <span class="list-item-text ms-2">Xammp</span>
          </div>
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="LARAGON" ></mat-icon>
            <span class="list-item-text ms-2">Laragon</span>
          </div>
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="VIRTUALBOX" ></mat-icon>
            <span class="list-item-text ms-2">Virtual Box</span>
          </div>
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="POWERSHELL" ></mat-icon>
            <span class="list-item-text ms-2">Power Shell</span>
          </div>
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="POSTMAN" ></mat-icon>
            <span class="list-item-text ms-2">Postman</span>
          </div>
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="FIREZILLA" ></mat-icon>
            <span class="list-item-text ms-2">Firezilla</span>
          </div>
        </div>
      </mat-card-content>
      <mat-card-content>
        <mat-card-title class="card-titel">{{ 'skills-p5' | translate }}</mat-card-title>
        <div class="row row-cols-1 row-cols-md-4 text-center">
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="JENKINS" ></mat-icon>
            <span class="list-item-text ms-2">Jenkins</span>
          </div>
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="DOCKER" ></mat-icon>
            <span class="list-item-text ms-2">Docker</span>
          </div>
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="VIRTUALBOX" ></mat-icon>
            <span class="list-item-text ms-2">Kubernetes</span>
          </div>
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="VIRTUALBOX" ></mat-icon>
            <span class="list-item-text ms-2">Composer</span>
          </div>
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="PYTHON" ></mat-icon>
            <span class="list-item-text ms-2">Python</span>
          </div>
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="NODEJS" ></mat-icon>
            <span class="list-item-text ms-2">Node JS</span>
          </div>
          <div class="col list-item d-flex align-items-center py-2">
            <mat-icon svgIcon="REACT" ></mat-icon>
            <span class="list-item-text ms-2">React</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>