.container-skills {
    margin-bottom: 2%;
    .card {
        --bs-card-bg: transparent;
        --bs-card-border-color: transparent;
        margin-top: 5%;
        align-items: center;
        mat-card-title {
            color: rgba(39, 170, 218, 0.906);
        }

        .card-titel {
            margin-top: 5%;
            margin-bottom: 2%;
            border-bottom: 1px black solid;
        }

        ::ng-deep .mat-mdc-card {
            /* width: 70%; */
            padding: 2%;
            background-color: white;
        }
    }
}