    <div class="container py-5 text-uppercase">
        <h1 class="text-center mb-4"><strong>{{ 'titel-legal-notice' | translate }}</strong></h1>
        <div class=""><!-- card shadow-sm -->
            <div class=""><!-- card-body -->
                <h2 class="h5">{{ 'legal-notice-titel-1' | translate }}</h2>
                <p>{{ 'legal-notice-p-1-1' | translate }} <strong>Medio Limon</strong>{{ 'legal-notice-p-1-2' | translate }} <strong>Benicarlo</strong>{{ 'legal-notice-p-1-3' | translate }} <strong>[NIF/CIF]</strong> {{ 'legal-notice-p-1-4' | translate }} <strong>mediolimon.catering&#64; gmail.com</strong>.</p>
                <p>{{ 'legal-notice-p-2' | translate }}<strong>[breve descripción de los servicios]</strong>.</p>
                
                <h2 class="h5 mt-4">{{ 'legal-notice-titel-2' | translate }}</h2>
                <p>{{ 'legal-notice-p-3' | translate }}</p>
                <ul>
                    <li>{{ 'legal-notice-p-4' | translate }}</li>
                    <li>{{ 'legal-notice-p-5' | translate }}</li>
                    <li>{{ 'legal-notice-p-6' | translate }}</li>
                </ul>
                
                <h2 class="h5 mt-4">{{ 'legal-notice-titel-3' | translate }}</h2>
                <p>{{ 'legal-notice-p-7' | translate }}<strong>Medio Limon</strong> {{ 'legal-notice-p-20' | translate }} </p>
                <p>{{ 'legal-notice-p-8' | translate }}</p>
                
                <h2 class="h5 mt-4">{{ 'legal-notice-titel-4' | translate }}</h2>
                <p>{{ 'legal-notice-p-9' | translate }} <a  routerLink="/privacity-politic">Política de Privacidad</a>. {{ 'legal-notice-p-10' | translate }}</p>
                <ul>
                    <li>{{ 'legal-notice-p-11' | translate }}</li>
                    <li>{{ 'legal-notice-p-12' | translate }}</li>
                    <li>{{ 'legal-notice-p-13' | translate }}</li>
                </ul>
                
                <h2 class="h5 mt-4">{{ 'legal-notice-titel-5' | translate }}</h2>
                <p><strong>Medio Limon</strong> {{ 'legal-notice-p-14' | translate }}</p>
                <ul>
                    <li>{{ 'legal-notice-p-15' | translate }}</li>
                    <li>{{ 'legal-notice-p-16' | translate }}</li>
                    <li>{{ 'legal-notice-p-17' | translate }}</li>
                </ul>
                
                <h2 class="h5 mt-4">{{ 'legal-notice-titel-6' | translate }}</h2>
                <p>{{ 'legal-notice-p-18' | translate }} <strong>España</strong>. {{ 'legal-notice-p-19' | translate }} <strong>Benicarló</strong>.</p>
            </div>
        </div>
    </div>