<div class="card">
    <div class="card-content container-fluid">
        <div class="row card-content-titel">
            <div class="col-12 col-lg-6">
                <h1>{{information.name}}</h1>
            </div>
            <div class="col-12 col-lg-6 text-end">
                <h2>{{information.descriptionPosition}}</h2>
            </div>
        </div>
        <div class="card-content-description container-fluid">
            <div class="row">
            <div class="col-6">
                <p>{{information.location}}</p>
            </div>
            <div class="col-6 date-job d-flex justify-content-end">
                <p>{{information.date}}</p>
            </div>
        </div>
            <div class="description-job">
                <p>{{information.description}}</p>
                <ul>
                    <ng-container *ngFor="let task of information.listOfTask">
                        <li *ngFor="let key of task | keyvalue">
                          <span>{{ key.value }}</span>
                        </li>
                      </ng-container>
                </ul>
            </div>
        </div>
    </div>
</div>