@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

body {
    font-family: 'Neue Haas Grotesk Display', -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 1.875rem;
    font-weight: 700;
    letter-spacing: 0.015em;
    line-height: 1.06;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text-uppercase {
    text-transform: uppercase;
}

.warm-gradient {
    position: fixed;
    /* O absolute, según tu necesidad */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg,
            #F5E6FF, #EBD4FF, #E0C2FF,
            #E8FFE6, #D4F7D0, #C0EBB5,
            #FFF9E6, #FFF3CC, #FFEDB3,
            #FFE6F5, #FFD4EB, #FFC2E0,
            #E6F9FF, #D4F0FF, #C2E7FF,
            #FFEFE6, #FFDFCC, #FFCEB3,
            #F5E6FF);
    background-size: 500% 500%;
    animation: gradient-animation 400s ease infinite;
    min-height: 100vh;
    position: relative;
    z-index: 0;
    overflow: visible;
}

.warm-gradient::before {
    content: '';
    position: absolute;
    background: inherit;
    animation: rotate-animation 400s linear infinite;
    opacity: 0.4;
    mix-blend-mode: soft-light;
    z-index: 0;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 0%;
        /* filter: hue-rotate(0deg); */
    }

    50% {
        background-position: 100% 100%;
        /* filter: hue-rotate(180deg); */
    }

    100% {
        background-position: 0% 0%;
        /*  filter: hue-rotate(360deg); */
    }
}

@keyframes rotate-animation {
    0% {
        transform: rotate(0deg) scale(1.2);
    }

    100% {
        transform: rotate(360deg) scale(1.5);
    }
}

/* img {
    position: relative;
    z-index: 2;
    mix-blend-mode: normal !important;
    filter: none !important;
    transform: translateZ(0);
    backface-visibility: hidden; 
    image-rendering: crisp-edges;
  } */