<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="ratio ratio-16x9">
                <video autoplay playsinline muted loop class="embed-responsive-item">
                    <source src="../../assets/video/v_portada.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
    <div class="row mt-5 ">
        <!-- Columna izquierda: Imagen única -->
        <div class="d-none d-lg-block col-lg-5 mb-4 mb-lg-0">
            <img src="../../assets/img/H_P_3.jpg" class="img-fluid img-rounded" alt="Imagen alta">
        </div>
        <!-- Columna derecha: Imagen, texto y otra imagen -->
        <div class="col-12 col-lg-7">
            <img src="../../assets/img/H_P_1.jpg" class="img-fluid img-rounded" alt="Imagen alta">
            <p class="lead mt-5">{{ 'history-p-1' | translate }}</p>
            <p class="lead">{{ 'history-p-2' | translate }}</p>
            <p class="lead">{{ 'history-p-3' | translate }}</p>
            <!--  <img src="../../assets/img/H_P_2.jpg" class="img-fluid img-rounded mt-5" alt="Imagen alta"> -->
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6 col-lg-3 wow-outer">
            <article class="counter-minimal wow slideInUp" data-wow-delay=".1s">
                <div class="counter-minimal-icon linearicons-mustache-glasses"></div>
                <div class="counter-minimal-main">
                    <div class="counter mt-3" data-target="2">+0</div>
                    <h1 class="counter-minimal-title mt-5"><strong>{{ 'cities' | translate }}</strong></h1>
                </div>

            </article>
        </div>
        <div class="col-6 col-lg-3 wow-outer">
            <article class="counter-minimal wow slideInUp" data-wow-delay=".1s">
                <div class="counter-minimal-icon linearicons-mustache-glasses"></div>
                <div class="counter-minimal-main">
                    <div class="counter mt-3" data-target="140">+0</div>
                    <h1 class="counter-minimal-title mt-5"><strong>{{ 'events' | translate }}</strong></h1>
                </div>
            </article>
        </div>
        <div class="col-6 col-lg-3 wow-outer">
            <article class="counter-minimal wow slideInUp" data-wow-delay=".1s">
                <div class="counter-minimal-icon linearicons-mustache-glasses"></div>
                <div class="counter-minimal-main">
                    <div class="counter mt-3" data-target="9">+0</div>
                    <h1 class="counter-minimal-title mt-5"><strong>{{ 'years_of_sector' | translate }}</strong></h1>
                </div>
            </article>
        </div>
        <div class="col-6 col-lg-3 wow-outer">
            <article class="counter-minimal wow slideInUp" data-wow-delay=".1s">
                <div class="counter-minimal-icon linearicons-mustache-glasses"></div>
                <div class="counter-minimal-main">
                    <div class="counter mt-3" data-target="2000">+0</div>
                    <h1 class="counter-minimal-title mt-5"><strong>{{ 'clients_good' | translate }}</strong></h1>
                </div>
            </article>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <p class="lead ">{{ 'history-p-4' | translate }}</p>
        </div>
        <div class="col-12 mt-3">
            <div class="ratio ratio-16x9">
                <video autoplay playsinline muted loop class="embed-responsive-item">
                    <source src="../../assets/video/v_bebida.MOV" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div>