<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <div class="ratio ratio-16x9">
                <video autoplay playsinline muted loop class="embed-responsive-item">
                  <source src="../../assets/video/v_portada.mp4" type="video/mp4">
                 </video>
            </div>
        </div>
        <div class="col-12 mt-5">
            <h1><strong>{{ 'history' | translate }}</strong></h1>
            <p class="lead">{{ 'history-p-1' | translate }}</p>
            <p class="lead">{{ 'history-p-2' | translate }}</p>
        </div>
        <div class="col-12 mt-5">
            <h1><strong>{{ 'human-team' | translate }}</strong></h1>
        </div>
        <div class="col-12 mt-5">
            <h1><strong>{{ 'corporative-security' | translate }}</strong></h1>
        </div>
        <div class="col-12 mt-5">
            <h1><strong>{{ 'corporative-image' | translate }}</strong></h1>
        </div>
        <div class="col-12 mt-5">
            <h1><strong>{{ 'instalations' | translate }}</strong></h1>
        </div>
        <div class="col-12 mt-5">
            <h1><strong>{{ 'gourmet-experience' | translate }}</strong></h1>
        </div>
        <div class="col-12 mt-5">
            <div class="ratio ratio-16x9">
                <video autoplay playsinline muted loop class="embed-responsive-item">
                  <source src="../../assets/video/v_bebida.MOV" type="video/mp4">
                 </video>
            </div>
        </div>
    </div>
</div>