<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="ratio ratio-16x9">
                <video autoplay playsinline muted loop class="embed-responsive-item">
                  <source src="../../assets/video/v_portada.mp4" type="video/mp4">
                 </video>
            </div>
        </div>
        <div class="col-12 ">
            <h1><strong>HISTORIA</strong></h1>
        </div>
        <div class="col-12">
            <h1><strong>Equipo humano</strong></h1>
        </div>
        <div class="col-12">
            <h1><strong>Seguridad corporativa</strong></h1>
        </div>
        <div class="col-12">
            <h1><strong>Imagen corporativa</strong></h1>
        </div>
        <div class="col-12">
            <h1><strong>Instalaciones</strong></h1>
        </div>
        <div class="col-12">
            <h1><strong>EXPERIENCIAS GOURMET</strong></h1>
        </div>
        <div class="col-12">
            <div class="ratio ratio-16x9">
                <video autoplay playsinline muted loop class="embed-responsive-item">
                  <source src="../../assets/video/v_bebida.MOV" type="video/mp4">
                 </video>
            </div>
        </div>
    </div>
</div>